* {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

p {
    font-size: 14px;
    margin: 0;
}

body {
    background-color: rgba(12, 12, 12, 1);
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

/*#region SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    background: rgb(4,3,28);
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgba(15,15,15,1) 100%);
    padding: 24px 18px;
    gap: 36px;
}

.header {
    gap: 14px;
}

#pfp {
    aspect-ratio: 1/1;
    width: 45px !important;
    height: 45px !important;
    img {
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

#name {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 500;
}

#sub-text {
    font-size: 14px;
    opacity: 0.75;
    font-weight: 550;
}

.nav-items {
    gap: 4px;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white !important;
    transition: 
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    border 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
    opacity: 0.7;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) inset 0 20px 20px, rgba(255, 255, 255, 0.02) 0px 0px 30px;
    opacity: 0.9;
}

.nav-item:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 1;
}

@media (max-width: 991px) {
    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.04);
        box-shadow: rgba(0, 0, 0, 0.05) inset 0 20px 20px, rgba(255, 255, 255, 0.01) 0px 0px 30px;
    }
}

.nav-item.active {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: rgba(0, 0, 0, 0.15) inset 0 20px 20px, rgba(0, 0, 0, 0.20) 0px 0.722625px 0.722625px -1.25px, rgba(0, 0, 0, 0.30) 0px 2.74624px 2.74624px -2.5px, rgba(0, 0, 0, 0.070) 0px 12px 12px -3.75px, rgba(255, 255, 255, 0.03) 0px 0px 30px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.nav-item.active:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.065);
    box-shadow: rgba(0, 0, 0, 0.15) inset 0 20px 20px, rgba(0, 0, 0, 0.20) 0px 0.722625px 0.722625px -1.25px, rgba(0, 0, 0, 0.30) 0px 2.74624px 2.74624px -2.5px, rgba(0, 0, 0, 0.070) 0px 12px 12px -3.75px, rgba(255, 255, 255, 0.03) 0px 0px 30px;
    opacity: 1;
}

.nav-link {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: white !important;
    > span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
    } 
}

#nav-link-home {
    span {
        -webkit-mask-image: url("assets/img/house-simple-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/house-simple-duotone-svgrepo-com.svg");
    }
}

#nav-link-certificates {
    span {
        -webkit-mask-image: url("assets/img/newspaper-clipping-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/newspaper-clipping-duotone-svgrepo-com.svg");
    }
}

#nav-link-projects {
    span {
        -webkit-mask-image: url("assets/img/stack-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/stack-duotone-svgrepo-com.svg");
    }
}

#nav-link-contact {
    span {
        -webkit-mask-image: url("assets/img/envelope-simple-open-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/envelope-simple-open-duotone-svgrepo-com.svg");
    }
}

#sidebar-title {
    opacity: 0.85;
    padding-left: 10px;
    font-family: 'DM Mono', monospace;
    margin-bottom: 14px;
}

.social-link {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    > span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
    } 
}

.external-link-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    right: 0;
    background-size: 100% 100%;
    object-fit: scale-down;
    background-color: rgb(255, 255, 255);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 0px;
    -webkit-mask-image: url("assets/img/arrow-up-right-svgrepo-com.svg");
    mask-image: url("assets/img/arrow-up-right-svgrepo-com.svg");
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-3px) scale(0.85);
}


.social-link .external-link-icon {
    margin-left: auto; /* pushes this element to the far right */
}

.social-link:hover .external-link-icon {
    opacity: 0.75;
    transform: translateX(0px) scale(0.9);
}

#social-link-linkedin {
    > span:first-child {
        -webkit-mask-image: url("assets/img/linkedin-logo-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/linkedin-logo-duotone-svgrepo-com.svg");
        background-color: rgb(255, 255, 255);
    }
}

#social-link-github {
    > span:first-child {
        -webkit-mask-image: url("assets/img/github-logo-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/github-logo-duotone-svgrepo-com.svg");
        background-color: rgb(255, 255, 255);
    }
}

#social-link-youtube {
    > span:first-child {
        -webkit-mask-image: url("assets/img/youtube-logo-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/youtube-logo-duotone-svgrepo-com.svg");
        background-color: rgb(255, 255, 255);
    }
}



#sidebar-bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 18px;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    gap: 18px;
}

#information-box {
    position: relative;
    padding: 20px;
    background-color: rgba(22, 22, 22, 0.5);
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.04) 0px 10px 34px -2.5px inset;
    overflow: hidden;
}

/* Pseudo-element for pattern overlay with opacity */
#information-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://framerusercontent.com/images/27lPwr6m0qWCWuTd76MieCfLWY.svg");
    background-repeat: repeat;
    background-size: 50.4px; /* Matches Framer */
    background-position: left top;
    
    /* Subtle pattern effect */
    opacity: 0.02; /* Makes pattern barely visible */
    filter: invert(1);
    
    pointer-events: none;
}

/* From Uiverse.io by 00Kubi */ 
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.04) 0px 10px 34px -2.5px inset;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 6px;
    gap: 4px;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.15s ease-in-out;
}
  
.radio-inputs .radio input:checked + .name {
    color: white;
    background-color: rgb(60, 60, 60);
    font-weight: 600;

}
  
/* Hover effect */
.radio-inputs .radio:hover .name {
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.8);

}
  
/* Animation */
.radio-inputs .radio input:checked + .name {
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: select 0.3s ease;
}
  
@keyframes select {
    0% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
  
/* Particles */
.radio-inputs .radio input:checked + .name::before,
.radio-inputs .radio input:checked + .name::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3b9cf6;
    opacity: 0;
    animation: particles 0.5s ease forwards;
}
  
.radio-inputs .radio input:checked + .name::before {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
  
.radio-inputs .radio input:checked + .name::after {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
  
@keyframes particles {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(var(--direction));
    }
}
  
.radio-inputs .radio input:checked + .name::before {
    --direction: -10px;
}
  
.radio-inputs .radio input:checked + .name::after {
    --direction: 10px;
}


.radio .name {
    border-radius: 7px !important;
}
  
.radio-inputs .radio input:checked + .name {
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.1) 0px 5px 15px -2.5px inset;
}


#current-date {
    font-size: 17px;
    margin-bottom: 2px;
}

#location {
    opacity: 0.7;
    font-size: 14px;
}

/* @MEDIAS */
@media (max-height: 490px) {
    #sidebar-bottom {
        display: none !important;
    }
}

@media (max-height: 699px) {
    #sidebar-links {
        display: none !important;
    }
}

@media (max-height: 809px) {
    #information-box {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .sidebar {
        display: none !important;
    }
}

/*#endregion*/

.navbar {
    padding: 14px 20px;
    background-color: rgba(15, 15, 15, 0.9) !important;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 40px rgba(15, 15, 15, 0.9);
}



/* Navbar Toggler */
.custom-toggler {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Icons */
.custom-toggler span {
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.30s ease, opacity 0.15s ease-in-out;
}

/* 3-bars icon */
.icon-bars {
    background-image: url('assets/img/list-duotone-svgrepo-com.svg');
    filter: invert(0.8);
    transform: rotate(0deg);
    opacity: 1;
}

/* X icon */
.icon-x {
    background-image: url('assets/img/x-duotone-svgrepo-com.svg');
    filter: invert(0.8);
    transform: rotate(-90deg);
    opacity: 0;
}

/* When clicked */
.custom-toggler.open .icon-bars {
    transform: rotate(90deg);
    opacity: 0;
}

.custom-toggler.open .icon-x {
    transform: rotate(0deg);
    opacity: 1;
}

.navbar-collapse {
    transition: height 0.25s ease-in-out, opacity 0.2s ease-in-out !important;
}



#btn-download-cv {
    display: block;
    background-color: rgb(25, 25, 25);
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
    padding-block: 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
    > span {
        display: inline-block;
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
        -webkit-mask-image: url("assets/img/download-simple-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/download-simple-duotone-svgrepo-com.svg");
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
    }
}

#btn-download-cv:hover {
    background-color: rgb(35, 35, 35);
    border: 1px dashed rgba(255, 255, 255, 0.17);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    > span {
        opacity: 1;
        transform: translateX(-2px);
    }
}

#btn-download-cv:active {
    background-color: rgb(45, 45, 45);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    > span {
        opacity: 1;
    }
}

/* Modal Overlay (Hidden by Default) */
.cv-modal {
    display: none; /* Hidden until button click */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything */
    backdrop-filter: blur(5px);
}

/* Modal Box */
.cv-modal-content {
    position: relative; /* Ensures .close-btn is positioned inside */
    background: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(10px);
    padding: 2.5% 3%;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
    text-align: center;
    min-width: 300px;
    max-width: 90%;
}

#cv-modal-subtitle {
    opacity: 0.9;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'DM Mono', monospace;
    margin-bottom: 20px;
}

#cv-modal-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* Download Buttons */
.cv-btn {
    padding: 10px 30px;
    text-decoration: none;
    > span {
        width: 20px !important;
        height: 20px !important;
        -webkit-mask-image: url("assets/img/file-pdf-duotone-svgrepo-com.svg") !important;
        mask-image: url("assets/img/file-pdf-duotone-svgrepo-com.svg") !important;
        transform: none !important;
    }
}



/* Close Button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    object-fit: scale-down;
    background-color: rgb(255, 255, 255);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("assets/img/close-sm-svgrepo-com.svg");
    mask-image: url("assets/img/close-sm-svgrepo-com.svg");
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.close-btn:hover {
    opacity: 1;
    transform: scale(1.1);
}






.main {
    margin-left: 260px;
    min-height: 100vh;
    background: #111;
    color: #fff; 
}

@media (max-width: 991px) {
    .main {
        margin-left: 0;
    }
}

.container-home {
    margin-inline: auto;
    max-width: 55rem;
    padding: 72px 48px;
    border-inline: 1px solid rgba(255, 255, 255, 0.1);
}

.mono-text {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    opacity: 0.7;
}

.about-text {
    font-size: 16px;
    opacity: 0.7;
}

#contact-btn {
    display: block;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgba(255, 255, 255, 0.12);
    text-decoration: none;
    border-radius: 12px;
    box-shadow: rgba(255, 255, 255, 0.243) 0px 0.602187px 1.08394px -0.916667px inset, rgba(255, 255, 255, 0.235) 0px 2.28853px 4.11936px -1.83333px inset, rgba(255, 255, 255, 0.204) 0px 10px 18px -2.75px inset, rgba(255, 255, 255, 0.03) 0px 0px 20px 1px;
    padding: 9px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
    > span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 6px;
        -webkit-mask-image: url("assets/img/lightning-duotone-svgrepo-com.svg");
        mask-image: url("assets/img/lightning-duotone-svgrepo-com.svg");
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
    }
}