::-webkit-scrollbar {
    width: 14px;  /* Width */
  }

::-webkit-scrollbar-track {
    background: rgb(40, 40, 40); /* Background Color */
}
  
::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(100, 100, 100, 0.8) 20%, rgba(85, 85, 85, 0.8) 100%); /* Color */
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
  
::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, rgba(100, 100, 100, 1) 20%, rgba(85, 85, 85, 1) 100%); /*Hover Color */
}


::selection {
    background: rgba(100, 100, 100, 0.7); /* Mid-gray */
    color: rgb(240, 240, 240); /* Light gray */
    filter: grayscale(100%);
}


* {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

p {
    font-size: 14px;
    margin: 0;
}

body {
    background: rgb(24,24,24);
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.mono {
    font-family: 'DM Mono', monospace;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-65 {
    opacity: 0.65;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.pt-12 {
    padding-top: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

/* #region SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    background: rgb(4,3,28);
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgba(15,15,15,1) 100%);
    padding: 24px 18px;
    gap: 30px;
}

.header {
    gap: 14px;
}

#header-pfp {
    aspect-ratio: 1/1;
    width: 45px !important;
    height: 45px !important;
    img {
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

#header-name {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    font-weight: 500;
}

#header-subtext {
    font-size: 14px;
    opacity: 0.75;
    font-weight: 550;
}

.nav-items {
    gap: 4px;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white !important;
    transition: 
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    border 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
    opacity: 0.7;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) inset 0 20px 20px, rgba(255, 255, 255, 0.02) 0px 0px 30px;
    opacity: 0.9;
}

.nav-item:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 1;
}



.nav-item.active {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: rgba(0, 0, 0, 0.15) inset 0 20px 20px, rgba(0, 0, 0, 0.20) 0px 0.722625px 0.722625px -1.25px, rgba(0, 0, 0, 0.30) 0px 2.74624px 2.74624px -2.5px, rgba(0, 0, 0, 0.070) 0px 12px 12px -3.75px, rgba(255, 255, 255, 0.03) 0px 0px 30px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.nav-item.active:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.065);
    box-shadow: rgba(0, 0, 0, 0.15) inset 0 20px 20px, rgba(0, 0, 0, 0.20) 0px 0.722625px 0.722625px -1.25px, rgba(0, 0, 0, 0.30) 0px 2.74624px 2.74624px -2.5px, rgba(0, 0, 0, 0.070) 0px 12px 12px -3.75px, rgba(255, 255, 255, 0.03) 0px 0px 30px;
    opacity: 1;
}

.nav-link {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: white !important;
    > span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
    } 
}

#nav-link-home {
    span {
        -webkit-mask-image: url("img/home-icon.svg");
        mask-image: url("img/home-icon.svg");
    }
}

#nav-link-certificates {
    span {
        -webkit-mask-image: url("img/certificate-icon.svg");
        mask-image: url("img/certificate-icon.svg");
    }
}

#nav-link-projects {
    span {
        -webkit-mask-image: url("img/stack-icon.svg");
        mask-image: url("img/stack-icon.svg");
    }
}

#nav-link-contact {
    span {
        -webkit-mask-image: url("img/envelope-open-icon.svg");
        mask-image: url("img/envelope-open-icon.svg");
    }
}

#sidebar-title {
    opacity: 0.6;
    padding-left: 10px;
    font-family: 'DM Mono', monospace;
    margin-bottom: 14px;
}

.social-link {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    > span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
    } 
}

.external-link-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    right: 0;
    background-size: 100% 100%;
    object-fit: scale-down;
    background-color: rgb(255, 255, 255);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 0px;
    -webkit-mask-image: url("img/arrow-up-right-icon.svg");
    mask-image: url("img/arrow-up-right-icon.svg");
    opacity: 0;
    transition: all 0.25s ease-in-out;
    transform: translateX(-3px) scale(0.85);
}


.social-link .external-link-icon {
    margin-left: auto; /* pushes this element to the far right */
}

.social-link:hover .external-link-icon {
    opacity: 0.75;
    transform: translateX(0px) scale(0.9);
}

#social-link-linkedin {
    > span:first-child {
        -webkit-mask-image: url("img/linkedin-icon.svg");
        mask-image: url("img/linkedin-icon.svg");

    }
}

#social-link-github {
    > span:first-child {
        -webkit-mask-image: url("img/github-icon.svg");
        mask-image: url("img/github-icon.svg");

    }
}

#social-link-email {
    > span:first-child {
        -webkit-mask-image: url("img/envelope-icon.svg");
        mask-image: url("img/envelope-icon.svg");

    }
}



#sidebar-bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 18px;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    gap: 18px;
}

#information-box {
    position: relative;
    padding: 20px;
    background-color: rgba(22, 22, 22, 0.5);
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.04) 0px 10px 34px -2.5px inset;
    overflow: hidden;
    margin-bottom: 6px;
}

/* Pseudo-element for pattern overlay with opacity */
#information-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/diagonal-lines.svg");
    background-repeat: repeat;
    background-size: 50.4px; /* Matches Framer */
    background-position: left top;
    
    /* Subtle pattern effect */
    opacity: 0.02; /* Makes pattern barely visible */
    filter: invert(1);
    
    pointer-events: none;
}

/* From Uiverse.io by 00Kubi */ 
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.04) 0px 10px 34px -2.5px inset;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    gap: 4px;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.15s ease-in-out;
}
  
.radio-inputs .radio input:checked + .name {
    color: white;
    background-color: rgb(60, 60, 60);
    font-weight: 600;

}
  
/* Hover effect */
.radio-inputs .radio:hover .name {
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.8);

}
  
/* Animation */
.radio-inputs .radio input:checked + .name {
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: select 0.3s ease;
}
  
@keyframes select {
    0% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
  
/* Particles */
.radio-inputs .radio input:checked + .name::before,
.radio-inputs .radio input:checked + .name::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
    animation: particles 0.5s ease forwards;
}
  
.radio-inputs .radio input:checked + .name::before {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
  
.radio-inputs .radio input:checked + .name::after {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
  
@keyframes particles {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(var(--direction));
    }
}
  
.radio-inputs .radio input:checked + .name::before {
    --direction: -10px;
}
  
.radio-inputs .radio input:checked + .name::after {
    --direction: 10px;
}


.radio .name {
    border-radius: 7px !important;
}
  
.radio-inputs .radio input:checked + .name {
    box-shadow: rgba(255, 255, 255, 0.04) 0px 0.602187px 2.04744px -0.833333px inset, rgba(255, 255, 255, 0.04) 0px 2.28853px 7.78101px -1.66667px inset, rgba(255, 255, 255, 0.1) 0px 5px 15px -2.5px inset;
}


#current-date {
    font-size: 17px;
    margin-bottom: 2px;
}

#location {
    opacity: 0.7;
    font-size: 14px;
}

/*#endregion*/

/* #region NAVBAR */
.navbar {
    padding: 14px 20px;
    background-color: rgba(15, 15, 15, 0.95) !important;
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 20px 0px rgba(18,18,18,1);
    border-bottom: 1px solid rgb(35, 35, 35)
}



/* Navbar Toggler */
.custom-toggler {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Icons */
.custom-toggler span {
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.30s ease, opacity 0.15s ease-in-out;
}

/* 3-bars icon */
.icon-bars {
    background-image: url('img/list-icon.svg');
    filter: invert(0.8);
    transform: rotate(0deg);
    opacity: 1;
}

/* X icon */
.icon-x {
    background-image: url('img/x-icon.svg');
    filter: invert(0.8);
    transform: rotate(-90deg);
    opacity: 0;
}

/* When clicked */
.custom-toggler.open .icon-bars {
    transform: rotate(90deg);
    opacity: 0;
}

.custom-toggler.open .icon-x {
    transform: rotate(0deg);
    opacity: 1;
}

.navbar-collapse {
    transition: height 0.25s ease-in-out, opacity 0.2s ease-in-out !important;
}
/*#endregion */


#btn-download-cv {
    background-color: rgb(25, 25, 25);
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
    padding-block: 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
    > span {
        display: inline-block;
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
        -webkit-mask-image: url("img/download-icon.svg");
        mask-image: url("img/download-icon.svg");
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
    }
}

#btn-download-cv:hover {
    background-color: rgb(35, 35, 35);
    border: 1px dashed rgba(255, 255, 255, 0.17);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
    > span {
        opacity: 1;

    }
}

#btn-download-cv:active {
    background-color: rgb(45, 45, 45);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    > span {
        transform: translateX(-2px);
    }
}


#btn-download-cv[aria-expanded="true"] > span {
    opacity: 1;
    transform: translateX(-2px);
}


#cv-dropdown-card {
    background-color: none;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(25, 25, 25, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;

    :nth-child(1) {
        border-radius: 10px 10px 0 0;
    }
    :nth-child(3) {
        border-radius: 0 0 10px 10px;
    }

}

.cv-dropdown-item {
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 12px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.15s ease-in-out;
    span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 8px;
        -webkit-mask-image: url("img/pdf-file-icon.svg");
        mask-image: url("img/pdf-file-icon.svg");
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
    }
}

.cv-dropdown-item:hover {
    background-color: rgb(40, 40, 40);
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
    color: rgba(255, 255, 255, 1);
    > span {
        opacity: 1;
    }
}

.cv-dropdown-item:active {
    background-color: rgb(48, 48, 48);
    box-shadow: rgba(255, 255, 255, 0.07) 0px 0.557334px 1.672px -1.125px inset, rgba(255, 255, 255, 0.063) 0px 1.69015px 5.07046px -2.25px inset, rgba(255, 255, 255, 0.05) 0px 4.46786px 13.4036px -3.375px inset, rgba(255, 255, 255, 0.008) 0px 14px 42px -4.5px inset;
}

#cv-items-divider {
    margin: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}


.main {
    margin-left: 260px;
    min-height: 100vh;
    background: rgb(18, 18, 18);
    color: #fff; 
}



.container-home {
    margin-inline: auto;
    max-width: 55rem;
    padding: 72px 48px;
    border-inline: 1px dashed rgba(255, 255, 255, 0.1);
    position: relative; /* Needed for absolute positioning inside */
    z-index: 1; /* Ensure content stays above */
}



.home-stars-bg {
    position: absolute; /* Position it behind content */
    top: 0;
    left: 0;
    width: 100%;
    height: 420px; /* Cover the entire section */
    z-index: -1; /* Send it behind the text */
    image-rendering: pixelated;
    background-size: cover;
    background-image: url("img/stars.svg");
    opacity: 0.2;
    overflow: hidden;
}

#skills-link {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
    text-decoration: none;

    > span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url("img/check-square-icon.svg");
        mask-image: url("img/check-square-icon.svg");
        margin-left: 6px;
        transition: all 0.15s ease-in-out;
    }
}

#skills-link:hover {
    opacity: 0.9;
}

#skills-link:active {
    opacity: 1;
}

#home-title {
    font-weight: 650;
    opacity: 0.95;
    font-size: 34px;
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(-145deg, rgba(255,255,255,1) 20%, rgb(217, 217, 217) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-name {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(-145deg, rgb(159, 159, 159) 20%, rgb(205, 205, 205) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mono-text {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    opacity: 0.7;
}

.about-text {
    font-size: 16px;
    opacity: 0.7;
}

#contact-btn {
    display: block;
    background-color: rgba(26, 26, 26, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-decoration: none;
    border-radius: 12px;
    box-shadow: rgba(255, 255, 255, 0.243) 0px 0.602187px 1.08394px -0.916667px inset, rgba(255, 255, 255, 0.235) 0px 2.28853px 4.11936px -1.83333px inset, rgba(255, 255, 255, 0.204) 0px 10px 18px -2.75px inset, rgba(255, 255, 255, 0.03) 0px 0px 20px 1px;
    padding: 9px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.15s ease-in-out;
    > span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-right: 6px;
        -webkit-mask-image: url("img/lightning-icon.svg");
        mask-image: url("img/lightning-icon.svg");
        opacity: 0.7;
        transition: all 0.25s ease-in-out;
    }
}

#contact-btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.24479), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.2372), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.2025), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px var(--token-cd0281a4-2a25-40c9-990a-e12d48b5ead7, rgba(255, 255, 255, 0.08));
    background-color: rgba(40, 40, 40, 0.8);
    > span {
        opacity: 1;
    }
}

#contact-btn:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.28), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.25), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.2125), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px var(--token-cd0281a4-2a25-40c9-990a-e12d48b5ead7, rgba(255, 255, 255, 0.08));
    background-color: rgba(50, 50, 50, 0.9);
    > span {
        opacity: 1;
    }
}


.experience {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12px 6px;
    transition: all 0.12s ease-in-out;
}

.experience-header:hover {
    #collapse-arrow {
        opacity: 1;
    }

    .experience-left {

        > span {
            color: rgba(255, 255, 255, 1);

        }

        > img {
            box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
        }
    }

    .experience-divider {
        border: 0.05rem dashed rgba(255, 255, 255, 0.2);
    }

    .experience-right {
        > span:nth-child(1) {
            color: rgba(255, 255, 255, 1);

        }

        > span:nth-child(2) {
            color: rgba(255, 255, 255, 0.65);
            text-decoration: none;
        }
    }

}

.experience-header:active {
    .experience-left {

        > img {
            box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
        }
    }
    .experience-divider {
        border: 0.05rem dashed rgba(255, 255, 255, 0.4);
    }
    .experience-right {
        > span:nth-child(2) {
            color: rgba(255, 255, 255, 0.8);

        }
    }
}



.experience-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;

    > span {
        transition: all 0.15s ease-in-out;
    }

    > img {
        transition: all 0.15s ease-in-out;
    }

}

.experience-left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.experience-right {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
    font-size: 15px;
    white-space: nowrap; /* Ensures text stays on one line */
    transition: all 0.15s ease-in-out;

    > span:nth-child(1) {
        color: rgba(255, 255, 255, 0.8);
        transition: all 0.15s ease-in-out;
    }

    > span:nth-child(2) {
        font-size: 13px;
        font-weight: 650;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.15s ease-in-out;
    }

    

}

.experience-divider {
    flex-grow: 1;
    border: 0.05rem dashed rgba(255, 255, 255, 0.12);
    margin: 0 16px; /* Ensures spacing between elements */
    transition: all 0.15s ease-in-out;
}

.experience-description ul {
    padding-left: 36px;
    padding-block: 2px 12px;
    margin: 0;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
    list-style: disc;
}



.experience-description ul li {
    margin-bottom: 5px;
    font-size: 15px;
}

#collapse-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    object-fit: scale-down;
    background-color: rgb(255, 255, 255);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("img/chevron-arrow-down-icon.svg");
    mask-image: url("img/chevron-arrow-down-icon.svg");
    opacity: 0.7;
    transition: all 0.25s ease-in-out;
}


.experience-item .collapse.show + .experience-header .experience-left img,
.experience-header[aria-expanded="true"] img {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
}

.experience-item .collapse.show + .experience-header .experience-divider,
.experience-header[aria-expanded="true"] .experience-divider {
    border: 0.05rem dashed rgba(255, 255, 255, 0.25);
}

.experience-item .collapse.show + .experience-header:hover .experience-divider,
.experience-header:hover[aria-expanded="true"] .experience-divider {
    border: 0.05rem dashed rgba(255, 255, 255, 0.35);
}

.experience-item .collapse.show + .experience-header .experience-right,
.experience-header[aria-expanded="true"] .experience-right {
    > span:nth-child(2) {
        color: rgba(255, 255, 255, 0.7);

    }
}

.experience-item .collapse.show + .experience-header:hover .experience-right,
.experience-header:hover[aria-expanded="true"] .experience-right {
    > span:nth-child(2) {
        color: rgba(255, 255, 255, 0.8);

    }
}

.experience-item .collapse.show + .experience-header .experience-right #collapse-arrow,
.experience-header[aria-expanded="true"] #collapse-arrow {
    transform: rotate(-180deg);
    opacity: 1;
}

.container-certificates {
    margin-inline: auto;
    padding: 100px 56px;
    border-block: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
}


.container-certificates::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("img/dots.svg");
    background-repeat: repeat;
    background-size: 30px;
    background-position: left top;
    opacity: 0.04;
    filter: invert(1);
    pointer-events: none;
}

#verify-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.15s ease-in-out;

    p {
        opacity: 0.6;
        transition: all 0.15s ease-in-out;
    }

    span {
        display: inline-flex;
        width: 17px;
        height: 17px;
        margin-left: 4px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url("img/checked-circle-wavy-icon.svg");
        mask-image: url("img/checked-circle-wavy-icon.svg");
        opacity: 0.6;
        transition: all 0.15s ease-in-out;
        transform: translateY(-1px);
    }
}

#verify-link:hover {
    opacity: 0.9;
    p {
        opacity: 0.9;
    }
    span {
        opacity: 0.9;
    }

}

#verify-link:active {
    opacity: 1;
    p {
        opacity: 1;
    }
    span {
        opacity: 1;
    }

}



.inner-container-certificates {
    margin-inline: auto;
    max-width: 105rem;
}

.certificate-col {
    padding: 12px;
}

.certificate-card {
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid rgb(35, 35, 35);
    img {
        object-fit: cover;
        aspect-ratio: 1.5 / 1;
        border-radius: 12px 12px 0px 0px;
        overflow: hidden;
        transition: all 0.25s ease-in-out; 
    }
    transition: all 0.25s ease-in-out;
}

.certificate-card-body {
    background-color: rgb(25,25,25);
    z-index: 10000;
    overflow: hidden;
    gap: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.certificate-card-title {
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.25s ease-in-out;
}

.certificate-card-information {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;

    #certificate-issuer {
        display: flex;
        align-items: center;

        span {
            display: inline-flex;
            width: 19px;
            height: 19px;
            right: 0;
            background-size: 100% 100%;
            object-fit: scale-down;
            background-color: rgb(255, 255, 255);
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            mask-repeat: no-repeat;
            -webkit-mask-image: url("img/users-icon.svg");
            mask-image: url("img/users-icon.svg");
            opacity: 0.6;
            transition: all 0.25s ease-in-out;
            transform: translateX(-3px) scale(0.85);
        }
    }

    #certificate-date {
        display: flex;
        align-items: center;

        span {
            display: inline-flex;
            width: 19px;
            height: 19px;
            right: 0;
            background-size: 100% 100%;
            object-fit: scale-down;
            background-color: rgb(255, 255, 255);
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            mask-repeat: no-repeat;
            -webkit-mask-image: url("img/calendar-icon.svg");
            mask-image: url("img/calendar-icon.svg");
            opacity: 0.6;
            transition: all 0.25s ease-in-out;
            transform: translateX(-3px) scale(0.85);
        }
    }

}

#certificate-link-icon {
    display: flex;
    width: 25px;
    height: 25px;
    right: 0;
    background-size: 100% 100%;
    object-fit: scale-down;
    background-color: rgb(255, 255, 255);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 0px;
    -webkit-mask-image: url("img/link-icon.svg");
    mask-image: url("img/link-icon.svg");
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
    transform: scale(0.85);
}

.certificate-card:hover {

    border-color: rgb(40, 40, 40);

    img {
        transform: scale(1.04);
    }

    .certificate-card-title {
        opacity: 1;
    }

    .certificate-card-body {
        background-color: rgb(32,32,32);
    }

    .certificate-card-information {
        opacity: 0.75;
    }

    #certificate-link-icon {
        opacity: 0.8;
        transform: scale(0.9);
    }

}


#show-more-btn {
    display: flex;
    background-color: rgba(26, 26, 26, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.12);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.243) 0px 0.602187px 1.08394px -0.916667px inset, rgba(255, 255, 255, 0.235) 0px 2.28853px 4.11936px -1.83333px inset, rgba(255, 255, 255, 0.204) 0px 10px 18px -2.75px inset, rgba(255, 255, 255, 0.03) 0px 0px 20px 1px;
    padding: 9px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.15s ease-in-out;
    width: 145px;
    span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 100% 100%;
        object-fit: scale-down;
        background-color: rgb(255, 255, 255);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
        margin-left: 6px;
        -webkit-mask-image: url("img/chevron-arrow-down-icon.svg");
        mask-image: url("img/chevron-arrow-down-icon.svg");
        opacity: 0.8;
        transition: rotate 0.3s ease-in-out;
    }
}

#show-more-btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.24479), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.2372), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.2025), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px var(--token-cd0281a4-2a25-40c9-990a-e12d48b5ead7, rgba(255, 255, 255, 0.08));
    background-color: rgba(40, 40, 40, 0.8);
    > span {
        opacity: 1;
    }
}

#show-more-btn:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.28), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.25), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.2125), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px var(--token-cd0281a4-2a25-40c9-990a-e12d48b5ead7, rgba(255, 255, 255, 0.08));
    background-color: rgba(50, 50, 50, 0.9);
    > span {
        opacity: 1;
    }
}


#show-more-btn {
    display: flex;
    align-items: center;
}

/* Ambos os textos começam visíveis, mas apenas um aparece por vez */
#show-more-text, #show-less-text {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* O texto "Show Less" começa escondido */
#show-less-text {
    display: none;
    opacity: 0;
}

/* Alterar o texto imediatamente ao clicar no botão */
#show-more-btn[aria-expanded="true"] #show-more-text {
    display: none;
    opacity: 0;
}

#show-more-btn[aria-expanded="true"] #show-less-text {
    display: flex;
    opacity: 1;
}

/* Suavizar a rotação do span */
#show-more-btn span {
    transition: transform 0.3s ease-in-out;
}

#show-more-btn[aria-expanded="true"] span {
    transform: rotate(180deg);
}




.container-projects::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/diagonal-lines.svg");
    background-repeat: repeat;
    background-size: 50.4px; /* Matches Framer */
    background-position: left top;
    
    /* Subtle pattern effect */
    opacity: 0.02; /* Makes pattern barely visible */
    filter: invert(1);
    
    pointer-events: none;
}

.container-projects {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;

    .inner-container-projects {
        margin-inline: auto;
        max-width: 70rem;
        padding: 100px 56px;
        border-inline: 1px dashed rgba(255, 255, 255, 0.1);
        position: relative;
        z-index: 1;
        background-color: rgb(18, 18, 18);


        #see-all-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: all 0.15s ease-in-out;
            p {
                opacity: 0.6;
                transition: all 0.15s ease-in-out;
            }
            span {
                display: inline-flex;
                width: 20px;
                height: 20px;
                margin-left: 4px;
                background-size: 100% 100%;
                object-fit: scale-down;
                background-color: rgb(255, 255, 255);
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-size: contain;
                mask-repeat: no-repeat;
                -webkit-mask-image: url("img/arrow-up-right-icon.svg");
                mask-image: url("img/arrow-up-right-icon.svg");
                opacity: 0.6;
                transition: all 0.15s ease-in-out;
            }
        }
        
        #see-all-link:hover {
            opacity: 0.9;
            p {
                opacity: 0.9;
            }
            span {
                opacity: 0.9;
            }
        
        }
        
        #see-all-link:active {
            opacity: 1;
            p {
                opacity: 1;
            }
            span {
                opacity: 1;
            }
        
        }

        .project-col {
            padding: 12px;
        }
        
        .project-card {
            border-radius: 14px;
            overflow: hidden;
            text-decoration: none;
            border: 1px solid rgb(35, 35, 35);
            img {
                object-fit: cover;
                aspect-ratio: 2 / 1;
                border-radius: 12px 12px 0px 0px;
                overflow: hidden;
                transition: all 0.25s ease-in-out; 
            }
            transition: all 0.25s ease-in-out;
        }
        
        .project-card-body {
            background-color: rgb(25,25,25);
            z-index: 10000;
            overflow: hidden;
            gap: 16px;
            padding: 16px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }
        
        .project-card-title {
            font-size: 15px;
            font-weight: 600;
            opacity: 0.9;
            transition: all 0.25s ease-in-out;
        }
        
        .project-card-information {
            display: flex;
            align-items: center;
            gap: 16px;
            opacity: 0.6;
            transition: all 0.25s ease-in-out;
        
            #project-date {
                display: flex;
                align-items: center;
        
                span {
                    display: inline-flex;
                    width: 19px;
                    height: 19px;
                    right: 0;
                    background-size: 100% 100%;
                    object-fit: scale-down;
                    background-color: rgb(255, 255, 255);
                    -webkit-mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    -webkit-mask-image: url("img/calendar-icon.svg");
                    mask-image: url("img/calendar-icon.svg");
                    opacity: 0.6;
                    transition: all 0.25s ease-in-out;
                    transform: translateX(-3px) scale(0.85);
                }
            }
        
        }
        
        #project-link-icon {
            display: flex;
            width: 25px;
            height: 25px;
            right: 0;
            background-size: 100% 100%;
            object-fit: scale-down;
            background-color: rgb(255, 255, 255);
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            mask-repeat: no-repeat;
            margin-right: 0px;
            -webkit-mask-image: url("img/link-icon.svg");
            mask-image: url("img/link-icon.svg");
            opacity: 0.6;
            transition: all 0.25s ease-in-out;
            transform: scale(0.85);
        }


    }

}











/* CONTACT */
.container-contact {
    width: 100%;
    max-width: 53rem;
    margin-inline: auto;
    border-inline: 1px dashed rgba(255, 255, 255, 0.1);
    padding: 72px 48px;
    
    #contact-title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    #contact-subtitle {
        font-size: 16px;
        opacity: 0.7;
    }

    .contact-form {
        background-color: rgb(22, 22, 22);
        padding: 24px 20px 20px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 16px;

        .form-label {
            font-size: 14px;
            opacity: 0.5;
        }

        .form-control {
            padding: 10px 12px;
            font-size: 15px;
            border-radius: 10px;
            border: 1px solid rgba(155, 155, 155, 0.1);
            background-color: rgb(28, 28, 28);
            color: white;
            transition: all 0.25s ease-in-out;
        }

        .form-control:focus {
            box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.3);
            background-color: rgb(38, 38, 38);
        }

        .form-control::placeholder { 
            color: rgba(255, 255, 255, 0.4); /* Adjust opacity */
        }
        
        textarea{
            resize: none;
        }

        #contact-form-submit-btn {
            font-size: 16px;
            font-weight: 550;
            padding-block: 10px;
            border-radius: 10px; 
            width: 100%;
            margin-top: 24px;
            display: block;
            background-color: rgba(255, 255, 255, 1);
            border: px solid rgba(255, 255, 255, 0.12);
            text-decoration: none;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.243) 0px 0.602187px 1.08394px -0.916667px inset, rgba(0, 0, 0, 0.235) 0px 2.28853px 4.11936px -1.83333px inset, rgba(0, 0, 0, 0.204) 0px 10px 18px -2.75px inset, rgba(0, 0, 0, 0.03) 0px 0px 20px 1px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: rgb(0, 0, 0);
            transition: all 0.2s ease-in-out;
        }

        #contact-form-submit-btn:hover {
            box-shadow: inset 0px 0.6021873017743928px 1.083937143193907px -0.9166666666666666px rgba(255, 255, 255, 0.5), inset 0px 2.288533303243457px 4.119359945838223px -1.8333333333333333px rgba(255, 255, 255, 0.5), inset 0px 10px 18px -2.75px rgba(255, 255, 255, 0.5), 0px 0px 20px 1px rgba(255, 255, 255, 0.03), 0px 0px 0px 4px var(--token-cd0281a4-2a25-40c9-990a-e12d48b5ead7, rgba(255, 255, 255, 0.15));
        }

    }

    .contact-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 6px;
        transition: all 0.2s ease-in-out;

        #contact-header-title {
            font-size: 15px;
            display: flex;
            align-items: center;

            .contact-header-icon {
                display: inline-flex;
                width: 18px;
                height: 18px;
                background-size: 100% 100%;
                object-fit: scale-down;
                background-color: rgb(255, 255, 255);
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-size: contain;
                mask-repeat: no-repeat;
                opacity: 1;
                margin-right: 6px;
                transition: all 0.25s ease-in-out;
            }

            #contact-header-email-icon {
                -webkit-mask-image: url("img/email-icon.svg");
                mask-image: url("img/email-icon.svg");
            }

            #contact-header-linkedin-icon {
                -webkit-mask-image: url("img/linkedin-icon.svg");
                mask-image: url("img/linkedin-icon.svg");
            }

            #contact-header-github-icon {
                -webkit-mask-image: url("img/github-icon.svg");
                mask-image: url("img/github-icon.svg");
            }
        }



        .contact-header-divider {
            flex-grow: 1;
            border: 0.05rem dashed rgba(255, 255, 255, 0.12);
            margin: 0 16px;
        }

        #contact-header-link {
            color: white;
            opacity: 0.6;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }

        #contact-header-link:hover {
            color: white;
            opacity: 0.8;
            text-decoration: underline !important;
        }

        #contact-header-link:active {
            opacity: 1;
        }

    }

}

/* FOOTER */
footer {
    background: linear-gradient(rgb(18, 18, 18) 10%, rgb(20, 20, 20) 46.9067%, rgb(25, 25, 25) 110%);
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .container-footer {
        width: 100%;
        max-width: 53rem;
        margin-inline: auto;
        position: relative; /* Needed for absolute positioning inside */
        z-index: 1; /* Ensure content stays above */
    
        .footer-stars-bg {
            position: absolute; /* Position it behind content */
            top: 0;
            left: 0;
            width: 100%;
            height: 280px; /* Cover the entire section */
            z-index: -1; /* Send it behind the text */
            image-rendering: pixelated;
            background-size: cover;
            background-image: url("img/stars.svg");
            opacity: 0.15;
            overflow: hidden;
        }
    
    
        #footer-message {
            padding: 80px 4% 2px;
            font-size: 28px;
            opacity: 0.95;
            font-family: 'Doto';
            font-weight: 700;
            text-align: center;
        }
    
        #footer-repository-anchor {
            padding-inline: 4%;
            font-size: 15px;
            font-family: 'DM Mono';
            text-align: center;
            color: white;
            opacity: 0.4;
            filter: grayscale(1);
            transition: all 0.2s ease-in-out;
        }

        #footer-repository-anchor:hover {
            opacity: 0.7;
        }

        #footer-repository-anchor:active {
            opacity: 1;
        }
    
        #footer-name {
            display: flex;
            justify-content: center;
            font-size: clamp(30px, calc(2rem + 11vw), 170px);
            padding: 10px 10px 20px;
            background: rgb(255,255,255);
            background: linear-gradient(-180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.03) 55%, rgba(255, 255, 255, 0) 70%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    
    }

}

/* #region @MEDIAS */
@media (max-height: 550px) {
    #blur-gradient {
        display: none !important;
    }
}

@media (max-width: 342px) {
    .contact-header-text {
        display: none !important;
    }
}
@media (max-width: 419px) {
    #footer-message {
        font-size: 24px !important;
    }
}
@media (min-width: 440px) and (max-width: 592px) {
    .experience-right {

        > span:nth-child(2) {
            display: flex !important;
        }
    }
}
@media (max-width: 592px) {
    .container-home {
        padding: 36px 16px;
        border-inline: 1px dashed transparent;
    }

    .experience-left {
        > span {
            display: none;
        }

        .experience-title-mobile {
            display: flex !important;
        }
    }

    .experience-right {
        > span:nth-child(1) {
            display: none;
        }

        > span:nth-child(2) {
            display: none;
        }
    }

    #footer-name {
        padding-block: 30px 30px !important;
        background: linear-gradient(-180deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.04) 55%, rgba(255, 255, 255, 0) 80%) !important;
        background-clip: text  !important;
        -webkit-text-fill-color: transparent  !important;
    }

}
@media (max-height: 560px) {
    .nav-items {
        display: none !important;
    }
}
@media (max-height: 770px) {
    #sidebar-links {
        display: none !important;
    }
}
@media (max-width: 728px) {
    .experience-right {
        > span:nth-child(2) {
            display: none;
        }
    }
}
@media (max-height: 900px) {
    #information-box {
        display: none !important;
    }
}
@media (max-width: 991px) {

    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.04);
        box-shadow: rgba(0, 0, 0, 0.05) inset 0 20px 20px, rgba(255, 255, 255, 0.01) 0px 0px 30px;
    }

    .sidebar {
        display: none !important;
    }

    .main {
        margin-left: 0;
        padding-top: 74px;
    }

    .container-home, .inner-container-projects, .container-contact {
        padding: 36px 24px;
        border-inline: 1px dashed transparent;
    }

    #cv-dropdown-card, #cv-items-divider {
        border-style: dashed;
    }


}
@media (min-width: 992px) and (max-width: 1023px) {

    .experience-left {
        > span:nth-child(0) {
            display: none;
        }
    }
}
@media (max-width: 1040px) {
    .container-certificates {
        padding: 48px 24px;
    }
}
/* #endregion */


